name: Generate --help output
# Generate `brew autoupdate --help output` for the README.md file
on:
  push:

permissions:
  contents: write

jobs:
  generate-help-output:
    name: Generate --help output
    runs-on: macos-latest
    steps:
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master
        with:
          debug: false
          test-bot: false

      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ github.ref_name }}

      - name: Install Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
            python-version: '3' 

      - name: Update README.md
        id: generate
        run: python .github/generate-help-output.py

      - name: Commit changes
        if: steps.generate.outputs.changed == 'true'
        run: |
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
          git commit -am "Update README.md with --help output"
          git push
